body{
    /*width: 100%;*/
    margin: 0;
    padding: 0;
    margin-left: 0;
    font-family: helvetica, arial, sans-serif;
    box-sizing: border-box;
}
.instructions{
    /*padding-left: 10px;*/
    font-size: .9em;
    background-color: #f58220;
    text-align: center;
    color: #ffffff;
    line-height: 1.5em;
}

.list {
    /*width: 100%;*/
    padding-top: 10px;
}

.listItem {
    border-bottom: 1px solid #999999;
    display: flex;
    align-items: stretch;
}

.listItem:first-child{
    border-top: 1px solid #999999;
}

.listItem div.info {
    padding: 10px;
    flex: 4;
}
.listItem div.actions {
    text-align: right;
    flex: 1;
    position: relative;
}
.listItem span {
    display: block;
    font-size: .9em;
}

.listItem span.title {
    font-size: 1.3em;
    color: #333333;
}

.listItem .actions button.delete {
    background: red;
    border: 0;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

